@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', 'Noto Sans Odia', 'Noto Sans Devanagari', system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Font family for Odia */
[lang="or"] {
  font-family: 'Noto Sans Odia', sans-serif;
}

/* Font family for Hindi */
[lang="hi"] {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

/* Font family for English */
[lang="en"] {
  font-family: 'Inter', sans-serif;
}


